@import "mixins"

body
  background-color: #2e496d
  color: #fff
  font-family: helvetica neue, helvetica, arial, helvetica, sans-serif
  font-size: 16px
  line-height: 18px
  padding: 0
  margin: 0

h1
  font-size: 55px
  font-weight: bold
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7)
  letter-spacing: -3px
  margin: 30px 0

a
  padding: 2px
  color: #fff
  &:hover
    background-color: #19273a

.header
  background-color: #CB1921
  padding: 10px 10px 20px 10px

.main
  padding: 10px
  border-top: 5px solid #19273A


#notice
  color: green

.field_with_errors
  padding: 2px
  background-color: red
  display: table

#error_explanation
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h3
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul li
    font-size: 12px
    list-style: square

#login
  padding-top: 40px
  text-align: right
  a
    font-size: 90%
    font-weight: none
    text-decoration: none
    padding: 5px 10px
    color: #ffc4be
    background: #7f0f14
    @include rounded
    border: 1px solid #333
    &:hover
      background: darken(#7f0f14, 10%)
