<!DOCTYPE html>
%html
  %head
    %title Montreal.rb
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      .container_16
        .grid_16
          %h1 Montreal.rb
          .tagline Montreal's Ruby Community

    .main
      .container_16
        .grid_12
          .content
            = yield

        .grid_4
          .right_menu
            Menu
